.gird {
   display: grid;
}

.container-linkcat {
   padding-block-start: 10em;
}

.cats-con-hero {
   padding-inline: 2em;
}

.grid-container-cats {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: auto;
   row-gap: 1rem;
   column-gap: 2em;
}

.cat-grid-item>figure>img {
   border-radius: 2em;
}

.title-head>article>h1 {
   font-size: 3em;
}

@media (max-width: 55em) {
   .cats-con-hero {
      padding-inline: 1rem;
   }

   .grid-container-cats {
      grid-template-columns: repeat(3, 1fr);
   }

   .title-head>article>h1 {
      font-size: 2em;
   }
}


@media (max-width: 35em) {

   .title-head>article>h1 {
      font-size: 1rem;
   }

   .grid-container-cats {
      grid-template-columns: repeat(2, 1fr);
   }
}

/* 
   test slide
*/

.cat-slide {
   position: relative;
   overflow: hidden;

}

.cat-slide button {
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
   height: 50%;
}

.next-btn {
   right: 0;
}

.slide-container {
   padding: 20vh 1vw;
   display: flex;
   gap: 6em;

   overflow-x: auto;
   scroll-behavior: smooth;
}

.slide-container::-webkit-scrollbar {
   display: none;
}

.slide-item>img {
   width: 100%;
}

.slide-item {
   max-width: 23vw;
   flex: 0 0 auto;

}

.slide-item[data-index="0"] {
   opacity: .3;
}