.content-primary {
   height: 100vh;
   background-image: url('https://images.pexels.com/photos/1422754/pexels-photo-1422754.png?auto=compress&cs=tinysrgb&w=1600&lazy=load');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom;
   padding-top: 20em;
}

.head-content {
   text-align: center;
}

.head-content h1 {
   font-size: 20em;
}

.head-content>h1>span {
   display: inline-block;
   background-repeat: no-repeat;

   margin-inline: 1.3rem;

   -webkit-background-clip: text;
   -webkit-text-stroke: 4px slategray;
   -webkit-text-fill-color: transparent;

   color: aliceblue;
   cursor: pointer;
}

.c-1 {
   background-image: url('../../../assets/imgs/cat01.png');
   background-size: 70%;
   background-position: -3.5rem 100px;
   transform: rotate(-25deg);
}

.c-2 {
   background-image: url('../../../assets/imgs/cat01.png');
   background-size: 70%;
   /* transform: rotate(-25deg); */
   transform: translate(0, -10rem);
}

.c-3 {
   background-image: url('../../../assets/imgs/cat01.png');
   background-size: 70%;
   background-position: -1rem center;
   transform: rotate(25deg);
}

@media (max-width: 55em) {
   .content-primary {
      padding-top: 1rem;
   }

   .head-content {
      margin-top: 30em;
   }

   .head-content h1 {

      font-size: 10em;
   }

}

@media (min-width: 50em) {

   .head-content h1 {
      font-size: 14em;
   }

   .c-1 {

      transform: rotate(-25deg);
   }

   .c-2 {
      transform: translateY(-10rem);
   }

   .c-3 {

      background-position: -1rem center;
      transform: rotate(25deg);
   }
}