* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

h1 {
  font-size: 30px;
}

.flex {
  display: flex;
}

.flex-rows {
  display: flex;
  flex-direction: row;
}

.flex-cols {
  display: flex;
  flex-direction: column;
}